.full-height {
    height: 70vh;
}

svg.inline-block {
    height: 50px;
    width: 50px;
}

.right {
    float: right;
}

.wrap {
    width: 70%;
    margin: 3px auto;
    box-shadow: 0 0 0.4px 0.3px;
    padding: 2%;
}

@media screen and (max-width:800px) {
    .full-height {
        height: auto;
    }
}